/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.card {
  display: flex;
  flex-direction: row;
}

.card img {
  object-fit: cover;
}

.heading-1 {
  display: flex;
  justify-content: center;
  font-family: 'Courgette';
  color: #d2b447;
}

.heading-2 {
  display: flex;
  justify-content: center;
}

.card-text {
  color: #a7a4a4;
}

.btn {
  background-color: #e2dfdf;
  color: #000000; 
  font-size: 14px;
  border: #e2dfdf;
}